<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/myUL.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/dataFilter.js"></script>
</head>
<body scroll="no" style="overflow-x: hidden;">

    <input type="text" id="myInput" placeholder="Search for names..">

    <ul id="myUL">

    </ul>

</body>
</html>
